* {
  box-sizing: border-box;
}

.cajamayor {
  width: 50%; /* Ancho del div */
  height: 50%; /* Altura del div */
  margin: auto; /* Margen automático en los cuatro lados */
  top: 0; /* Centrar verticalmente */
  bottom: 0; /* Centrar verticalmente */
  left: 0; /* Centrar horizontalmente */
  right: 0; /* Centrar horizontalmente */
}

main {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

.imagen_de_fondo {
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  position: absolute;
  z-index: -1;
  background-size: cover;
}

.titulo {
  display: flex;
  font-size: large;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  margin-bottom: 100px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.boton_mensaje {
  font-size: 100px;
  position: absolute;
  z-index: 2;
  top: 55%;
  right: 37%;
  justify-content: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.boton_mensaje:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
  background-color: #f7945b;
  transition: 1s ease all;
}

@media screen and (max-width: 740px) {
  /* Estilos para una pantalla con un ancho máximo de 767 píxeles */

  .cajamayor {
    width: unset; /* Ancho del div */
    height: 50%; /* Altura del div */
    margin: auto; /* Margen automático en los cuatro lados */
    top: 0; /* Centrar verticalmente */
    bottom: 0; /* Centrar verticalmente */
    left: 0; /* Centrar horizontalmente */
    right: 0; /* Centrar horizontalmente */
  }
  /* Otras reglas CSS para pantallas pequeñas */
}
